# Byte-compiled / optimized / DLL files
__pycache__/

# Credentials
*credentials*

# Environments
venv/

# mkdocs documentation
/site


# Pyre type checker
token.json

# output data
*.xlsx*

# build/compiled stuff
*.bat
*.build
*.exe
start_venv*
# json
*.json

# c, c++, cython stuff
*.c
*.html
*.pyd
build
bin
.vscode
*.sh
*_mean*
*.so

*.png
*test*